* {
	box-sizing: border-box;
	position: relative;
}

body {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.nintendo {
	width: 500px;
	position: fixed;
	left: -10px;
}

.header {
	font-family: 'Archivo Black', sans-serif;
	color: red;
	font-size: 100px;
	text-shadow: 3px 0 0 #222;
	margin-top: 20px;
	position: fixed;
	left: 79px;

}

h2 {
	left: 406px;
	top:44px;
}

.anyKey {
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	left: 705px;
	top: 91px;
}

.counters {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px; 
	top: 117px;
	left: 881px;

}

.win {
	margin-bottom: 5px;
}

.lose {
	margin-bottom: 5px;
}

.Guesses {
	margin-bottom: 5px;
}

#hint {
	border-radius: 15px;
	font-family: 'Ubuntu', sans-serif;
	padding: 12px;
	width: 100px;
	background: #3d9240;
	box-shadow: 3px 0 0 #222;
	text-align: center;
	left: 1005px;
	top: 239px;
	position: fixed;
	z-index: 6;
	display: none;

}

#hint:hover {
	background: #a59d43;
	box-shadow: 5px 0 0 #222;
	cursor: pointer;
}

#hint:active {
	background: #94f711;
}


#reset {
	border-radius: 15px;
	font-family: 'Ubuntu', sans-serif;
	padding: 10px;
	width: 100px;
	background: #3d9240;
	box-shadow: 3px 0 0 #222;
	text-align: center;
	left: 880px;
	top: 232px;
	position: fixed;
	z-index: 5;
}

#reset:hover {
	background: #a59d43;
	box-shadow: 5px 0 0 #222;
	cursor: pointer;
}

#reset:active {
	background: #94f711;
}

.theWord {
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
	right: -1218px;
	top: 34px;

}

.garbage {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	left: 1216px;
	top: 75px;
}


.bowser-photo {
	width: 200px;
	right: -1349px;
	visibility: hidden;
	filter: blur(16px);


}

.chomp-photo {
	width: 200px;
	right: -1115px;
	top: -88px;
	visibility: hidden;
	filter: blur(16px);
	

}

.kirby-photo {
	width: 200px;
	right: -942px;
	visibility: hidden;
	filter: blur(16px);

}

.yoshi-photo {
	width: 200px;
	right: -726px;
	top: 98px;
	visibility: hidden;
	filter: blur(16px);

}


.gameboy-photo {
	width: 200px;
	right: -530px;
	top: 51px;
	visibility: hidden;
	filter: blur(16px);

}

.zelda-photo {
	width: 200px;
	right: -328px;
	visibility: hidden;
	filter: blur(16px);

}


@media (max-width: 980px) {
	.header {
		font-size: 64px;
		left: 79px;
	}

	.nintendo {
		width: 447px;
		left: 22px;
	}

	.anyKey {
		left: 82px;
		top: 236px;
	}

	.counters {
		top: 190px;
		left: 481px;
	}

	.theWord {
		right: -51px;
		top: 216px;
	}

	.garbage {
		left: 13px;
		top: 254px;
	}

	#reset {
		left: 710px;
		top: 232px;
	}

	#hint {
		left: 840px;
		top: 239px;
	}

	.bowser-photo {
		right: -503px;

	}

	.chomp-photo {
		right: -250px;
		top: -68px;
	}

	.kirby-photo {
		right: -87px;
	}

	.yoshi-photo {
		right: 113px;
		top: 98px;
	}

	.gameboy-photo {
		right: 314px;
		top: 51px;
	}

	.zelda-photo {
		top: -198px;
		right: -498px;
	}

}



@media (max-width: 768px) {

	#reset {
		left: 27px;
		top: 511px;
	}

	#hint {
		left: 169px;
		top: 521px;
	}

}



@media (max-width: 640px) {
	.header {
		font-size: 44px;
		left: 71px;
	}

	.nintendo {
		width: 241px;
		left: 63px;
	}

	h2 {
		left: 43px;
		top: 79px;
	}

	.anyKey {
		left: 46px;
		top: 198px;
		font-size: 24px;
	}

	.counters {
		top: 204px;
		left: 12px;
		font-size: 17px;
	}

	#reset {
		left: 199px;
		top: 241px;
		font-size: 10px;
		width: 70px;
	}

	#hint {
		left: 281px;
		top: 246px;
		font-size: 10px;
		width: 70px;
	}

	.bowser-photo {
		right: -80px;
		top: 221px;
		width: 193px;
	}

	.chomp-photo {
		right: 103px;
		top: 132px;
	}

	.kirby-photo {
		right: 328px;
		top: 218px;
		width: 190px;
	}

	.yoshi-photo {
		right: 490px;
		top: 248px;
		width: 150px;
	}

	.gameboy-photo {
		right: 650px;
		top: 248px;
		width: 170px;
	}

	.zelda-photo {
		top: 60px;
		right: -100px;
	}

}




